rapidocr==3.9.2
rapid-table==3.0.2
onnxruntime-gpu==1.23.2
nvidia-cublas-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nvtx-cu12
PyMuPDF==1.28.0
opencv-python==5.0.0.93
numpy==2.2.6
pandas==2.3.3
tabulate==0.10.0
psutil==7.0.0
